.box {
  margin: 15px 0px 10px 0px;
  border-radius: 44px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  height: 40px;
  background-color: white;
}

.a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  height: 40px;
  background-color: #ffe576;
}

.b {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 6;
  display: flex;
  justify-content: center;
  border-radius: 44px;
  height: 40px;
  align-items: center;
}

.chatbox {
  /* margin : 15px 0px 10px 0px; */
  border-radius: 10px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.16); */
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* cursor: pointer; */
  height: 370px;
  width: 330px;
  background-color: white;
}

.container {
  display: flex;
  margin-bottom: 10px;
}

.scrollLock {
  overflow: hidden;
}
@media (max-width: 766px) {
  .chatbox {
    border-radius: 15px;
    width: 330px;
  }
  .searchInputWrapper {
    position: relative;
  }
  .searchInput {
    margin-left: 3%;
    border: none;
    cursor: pointer;
    width: calc(var(--vw) * 82 - 10px);
    height: 30px;
    font-size: 14px;
    padding: 0px;
    padding-left: 10px;
    border-radius: 8px;
  }
  .searchInput:focus {
    outline: none;
  }
  .searchIcon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: calc(var(--vw) * 82 - 15px);
  }
  .dropdown {
    font-size: 10px;
    width: calc(var(--vw) * 20.5);
    top: 0px;
    left: calc(var(--vw) * 64.5);
    user-select: none;
    position: relative;
    z-index: 100;
  }

  .dropdown .arrow {
    width: 10px;
    height: 5px;
  }

  .dropdown .dropdown-btn {
    padding: 0px 10px;
    /* background-color: #fff; */
    /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
    /* font-weight: bold; */
    /* color: #333; */
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }

  .dropdown .dropdown-content {
    position: absolute;
    top: -6px;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: 500;
    color: #333;
    width: 100%;
  }

  .dropdown .dropdown-content .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .dropdown .dropdown-content .dropdown-item:hover {
    background-color: #f4f4f4;
  }
}
